
/*Andrey additions */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  background-color: #F4F5F7;
  font-family: 'Open Sans';
  font-size: 14px;
  /* padding-top: 2rem; */
  overflow-y: scroll;
}

a {
    color: black;
    transition: color 0.1s;
}


/*
.locationText{
	background-color: #ffffff;
	padding: 10px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(196,196,196,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(196,196,196,1);
	box-shadow: 10px 10px 5px 0px rgba(196,196,196,1);
}
*/
.up-row{
	background-color: #ffffff;
	padding: 10px;
	margin-bottom: 5%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	min-height: 300px;
}

.up-row iframe {
	width:560px;
	height:315px;
}

.down-row {
	align-items: flex-start;
}

.choices{
	background-color: #ffffff;
	padding: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	justify-content: center;
}

.mb-4{
	opacity: 0;
	animation: showDiv 5s forwards;
	font-family: 'Open Sans';
	font-size: 20px;
}
	
@keyframes showDiv {
  100% {
    opacity: 1;
  }
}

.params{
	margin-left: auto;
	background-color: #ffffff;
	padding: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	justify-content: center;
}


/*player info */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.player-img{
	width: 128px;
	height: 128px;
	border-radius: 50%;
}

.player-name{
	font-size: 36px;
	font-family: Comfortaa;
}

.player-info{
	color: white;
	background: #000000;
}

.footer {
    background-color: #111111;
    color: #eeeeee;
    border-top: 1px solid red;
    height: 60px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
