p.game {
    text-indent: 1rem;
    margin-bottom: 0.2rem;
}

a.game.disabled {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}



body.game {
  background-color: #eceeef;
  padding-top: 2rem;
  overflow-y: scroll;
}

.game-fix {
  font-family: monospace;
  white-space: pre;
  font-size: 1.2em;
}

@media screen and (max-width: 760px) {
    body.game {
        background-color: #ffffff;
    }
}
